.addon_title {
  font-size:20px;
  font-weight: bold;
}

.addon_cost {
  font-weight: 700;
  line-height:40px;
  text-align: right;
  margin-right:10px;
}

.apc_price_format {
  line-height:40px;
  text-align: right;
  margin-right:10px;
  font-size: 25px;
  font-weight: 700;
}