
.addon-switch-enable {
	right: 10px;
}

.add_new_addon_option {
    cursor: pointer;
}

.addon_option_input {
	font-size: 12px;
    line-height: 24px;
}

.all_options_label {
	font-size: 12px;
	line-height: 24px;
	margin: 0 0 0 0 !important;
}

.addon_option_label {
	margin: 0 0 0 0 !important;
	font-size: 12px;
    line-height: 24px;
}

.addon_option_form {
	padding: 60 0 0 0;
}

.remove_addon_option {
	margin-bottom: 40px;
	right: 10px;
	font-size: 12px;
    line-height: 24px;
}

.add_new_addon_option {
	right: 20 px;
}

.addon_container {
	display: inline-block;
}

.all_options_label {
	width:100%;
}