
/* ------ Product Metabox Tabs Icon --------- */
#woocommerce-product-data ul.wc-tabs li.yith_Auction_tab a:before {
	font-family: yith-wcact-auction-font;
	content: "\e9a8";

}
/*---------------------------------------------*/


#_yith_auction_for {

	margin-bottom: 10px;
}

.yith-auction-status-column::after{
	content: "\e033";
	color: grey;
}
.yith-wcact-auction-status{
	font-family: WooCommerce;
	text-align: center;
}
.yith-auction-non-start::after{
	content: "\e033";
	color: grey;
	font-size:150%;
}
.yith-auction-started::after {
	content: "\e011";
	color: dodgerblue;
	font-size:150%;
}
.yith-auction-started-reached-reserve::after {
	content: "\e011";
	color: darkorange;
	font-size:150%;
}
.yith-auction-finished::after {
	content: "\e015";
	color: deepskyblue;
	font-size:150%;
}
.yith-auction-finished-reached-reserve::after {
	content: "\e015";
	color: red;
	font-size:150%;
}

.yith-auction-finnish-buy-now::after {
	content: "\e015";
	color: green;
	font-size:150%;
}

.yith-auction-new-notifications::after {
	content: "\25CF";
	color: red;
	font-size:150%;
}

#yith-reshedule-notice-admin {
	display:none;
	font-weight: bold;
	font-size: 110%;
}
.yith_auction_prices{
	padding:6px 28px !important;
	font-size: 12px !important;
	background: #d1d1d1 !important;
	color: #333 !important;
	text-decoration: none!important;
	text-transform: uppercase!important;
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !important;
	font-weight: 400 !important;
	border-radius: 3px !important;
	display: inline-block !important;
}

.yith_auction_prices:hover{
	background: #ccc !important;
}


#datatable {
	width:100%;
}
#datatable tr td {
	text-align: center;
	font-size: medium;
	padding: 10px 0px 10px 0px;
}
.yith-wcact-row {
	background-color: #fbfbfb;
}
.toptable{
	font-weight: bold;
	background-color: #DCDCDC;
}


/*General settings*/

.ywcact-input-text {
	min-width: 40px !important;
	width: 80px !important;
}

.ywcact-span {
	position: relative;
	top: 10px;
}

.ywcact-hide {
	display: none;
}

.ywcact-show {
	display: block;
}

.ywcact-remove-rule {
	padding-left: 7px;
	margin-left: 0px !important;
	font-size: 12px !important;
}

/*Error message*/

.ywcact-notice-error {
	border: 1px solid #fe535b;
	color: #960001;
	background-color : #ead1d5;
	padding: 10px;
}

.ywcact-notice-error-message {
	margin: 5px;
}


@media (min-width: 1200px) {
	#_yith_auction_to {
		width: 20%;
	}
	#_yith_auction_for {
		width: 20%;
		margin-right: 20px;
	}
}

@media (max-width: 1200px) {
	#_yith_auction_to {
		width: 90%;
	}
	#_yith_auction_for {
		width: 90%;
	}
}

.wp-picker-input-wrap input {
	display: none;
}