
		/*  
		 * Rating styles
		 */
     .star__container {
			width: 226px;
			margin: 0 auto 1em;
			font-size: 45px;
      overflow:hidden;
      display: flex;
		}
.star__container input {
  opacity: 0;
  position: absolute;
  float: right;
}
		.star__container a,
    .star__container label {
      float: right;
      display: inline;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.star__container label:hover ~ label,
.star__container input:focus ~ label,
.star__container label:hover,
		.star__container a:hover,
		.star__container a:hover ~ a,
		.star__container a:focus,
		.star__container a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		.star__container {
			direction: rtl;
		}
		.star__container a {
			float:none
		}