.card {
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;

  align-items: center;
  box-shadow:  0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  display: grid;
  border-radius: 0.75rem;

  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  margin-bottom:15px;
}

.column {
  float: left;
  width: 100%;
  padding: 0 20px;
  
}


.card_highlight:hover {
  border: 4px solid lightblue;
}

.card_zoom:hover {
  transform: scale(1.1);
  box-shadow:  0 32px 80px 14px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.testimonial_badge {
  position:absolute;
  width: 100px;
  height: 33px;
  right: 20px;
  border: 0px solid #000;
  color: white;
  text-align: center;
  border-radius: 10%;
}

.testimonial_badge_container {
  width:100%;
  overflow:hidden;
  height: 33px;
}

.testimonial_upper_container {
  width:100%;
  height: 150px;
}


.testimonial_image {
  border-radius: 150px;
	-webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  float:left;
  margin-right:25px;
}

.testimonial_text {
  display:inline-block;
  width: 46%;
  height: 150px;
  
}

.testimonial_title{
  font-size: 40px;
  font-weight: bold;
  line-height:80px;
  color: black;
  text-align: left;
  padding : 0;
  margin : 0;
}

.testimonial_subtitle{
  font-size: 20px;
  font-weight: thin;
  line-height:80px;
  color: grey;
  text-align: left;
  padding : 0;
  margin : 0;
}

.testimonial_email {
  font-size: 18px;
  font-weight: thin;
  line-height:80px;
  padding : 0;
  margin : 0;
  font-weight: thin;
  text-align: left;
  color: blue;
  padding-bottom: 12px;
  padding-top: 10px;
}

.testimonial_single_star_checked {
  color: orange;
}

.testimonial_card_vip {
  border: 4px solid gold;
}

.testimonial_taxonomy {
  font-size: 15px;
  color: grey;
}

.apc-raffle-success {

  border: 0px solid #000;
  color: white;
  text-align: center;
  border-radius: 10%;
  background-color: greenyellow;
}

.apc-raffle-error {

  border: 0px solid #000;
  color: white;
  text-align: center;
  border-radius: 10%;
  background-color: red;
  margin-block: 10px 20px;
}